autopep8
bidict
cachelib
click
dnspython
eventlet
ffmpeg
ffmpeg-python
Flask
Flask-Cors
Flask-Session
flask-sock
Flask-SocketIO
future
gevent
gevent-websocket
gitdb
GitPython
greenlet
gunicorn
h11
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
pathspec
pexpect
platformdirs
ptyprocess
pycodestyle
python-engineio
python-socketio
regex
simple-websocket
six
smmap
toml
tomli
Turbo-Flask
typing-extensions
Werkzeug
wsproto
youtube-dl
zope.event
zope.interface
