{% extends "layout.html" %}
{% block title %}
Convert
{% endblock %}
{% block main %}
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/convert.css') }}" type="text/css" />
<header id="header" class="download masthead bg-primary text-white text-center">
    <h1 id="htitle">CONVERT</h1>
    <div class="container d-flex align-items-center flex-column">
        <!-- upload a file -->
        <form action="/convert" method="post" id="upload" enctype="multipart/form-data" class="dropzone">
            <div class="previews"></div>
            <div class="input-group mb-3">
                    <select name="format" id="format" required>
                        <option selected disabled value="">Extension</option>
                        {% for i in formats %}
                        <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <input class="input-group-text" type="submit" value="Upload" id="submit">
            </div>
        </form>
    </div>
</header>
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script>
    Dropzone.options.upload = { // The camelized version of the ID of the form element

        // The configuration we've talked about above
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 100,
        maxFiles: 100,

        // The setting up of the dropzone
        init: function () {
            var myDropzone = this;

            // First change the button to actually tell Dropzone to process the queue.
            this.element.querySelector("input[type=submit]").addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue();
            });

            this.on("successmultiple", function (files, response) {
                // Gets triggered when the files have successfully been sent.
                // Redirect user or notify of success.
                // wait 5 seconds
                setTimeout(function () {
                    window.location.href = "/waiting"
                }, 5000);
            });
        }
    }
</script>
{% endblock %}