{% extends "layout.html" %}
{% block title %}
Convert
{% endblock %}
{% block main %}
<style>
    .download {
        padding-top: 43.6vh !important;
        padding-bottom: 40.2vh !important;
}

@media (min-width:768px) {
    .download {
        padding-top: 48.6vh !important;
        padding-bottom: 35.2vh !important;
    }
}

</style>
<header class="download masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- upload a file -->
        <form action="{{ url_for('convert') }}" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input  style="padding: 0.25rem .1rem;" name="file" type="file" class="form-control" id="inputGroupFile02" required>
                <select  name="format" id="format" required>
                    <option hidden selected disabled value="">Extension</option>
                    {% for i in formats %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <input class="input-group-text" type="submit" value="Upload" for="inputGroupFile02"></input>
            </div>
        </form>
    </div>
</header>
{% endblock %}