{% extends "index.html" %}
{% block title %}
Download
{% endblock %}
{% block main %}
<header class="done masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <form action="/done" method="post">
            <div id="link">
                <h4>Congratulation! Your Dowload Link Is Ready</h4>
            </div>
            <div id="submit">
                <input name="down" id="down" class="btn btn-primary btn-lg" type="submit" value="Download"></input>
            </div>
        </form>
    </div>
</header>
{% endblock %}