{% extends "index.html" %}
{% block title %}
Download
{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
<header id="header" class="download masthead bg-primary text-white text-center">
    <h1 id="htitle">DOWNLOAD</h1>
    <div class="container d-flex align-items-center flex-column">
        <form action="/download" method="POST">
            <div id="link">
                <h4>
                    <input placeholder="Enter The Link Here" autocomplete="on" id="url" type="url" name="url" required>
                </h4>
                <select name="format" id="format">
                    <option hidden selected disabled value="">Extension</option>
                    {% for i in formats %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="submit">
                <input name="down" id="down" class="btn btn-primary btn-lg" type="submit" value="Download"></input>
            </div>
        </form>
    </div>
</header>
{% endblock %}