{% extends "layout.html" %}
{% block title %}
wait
{% endblock %}
{% block main %}
<div id="loading">
    <div id="wait">
        <h5>Please Wait While We Are Processing Your Request</h5>
    </div>
    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<header class="download masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <form action="/download" method="post">
            <div id="link">
                <!-- <h1 class="masthead-heading mb-0">Download</h1> -->
                <h4>
                    <input placeholder="Enter The Link Here" id="url" type="url" name="url">
                </h4>
            </div>
            <div id="submit">
                <button name="down" id="down" class="btn btn-primary btn-lg" type="submit">Download</button>
            </div>
        </form>
    </div>
</header>
<script type="text/javascript">
    function navigate() {
        window.location.href = 'done';  // redirect when done!
    }
    fetch('process').then(navigate);
    $(window).on('load', function () {
        $('#loading').show();
    })
</script>
{% endblock %}