{% extends "layout.html" %}
{% block title %}
wait
{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
<div class="download" id="loading">
    <div id="wait">
        <div id="comp" style="display: flex;">
            <h5>Completing The Process Please Wait</h5>
            <div class="spinner-border" style="width: 3rem;height: 3rem;margin-left: auto;margin-right: auto;display: block;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <h5 id="title">Please Wait While We Are Downloading Your Video On Our Servers</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <h6 id="percent">0%</h6>
    </div>
</div>
{% if r == "/download" %}
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"></script>
<script type="text/javascript">
    let p = 0;
    $('#comp').hide();
    var socket = io();
    socket.on('connect', function () {
        console.log('connected');
        setInterval(() => {
            socket.emit('ping', 'ping')
        }, 30000);
    })
    socket.on('ping', function (ping) {
        socket.emit('ping', ping)
    })
    socket.on('update', function (progress) {
        if (progress == 100) {
            $('.progress').hide();
            $('#percent').hide();
            $('#title').hide();
            $('#comp').show();
            if (p == 1) {
                window.location.href = "/done";
            }
        }
        else
        {
            $('#comp').hide();
            console.log(progress);
            document.getElementById('percent').innerHTML = progress + "%";
            let bar = document.getElementsByClassName('progress-bar')[0];
            bar.style.width = progress + "%";
            bar.setAttribute('aria-valuenow', progress);
        }
    })
    socket.on('mode', function (mode) {
        let bar = document.getElementsByClassName('progress-bar')[0];
        bar.style.width = "0%";
        bar.setAttribute('aria-valuenow', 0);
        let percent = document.getElementById('percent')
        percent.innerHTML = "0%"
        $('#comp').hide();
        $(".progress").show();
        $("#percent").show();
        $('#title').show();
        document.getElementById('title').innerHTML = "We Are Converting Your Video To Your Selected Format";
        console.log(mode);
        p += 1;
    })
    fetch('process');
    $(window).on('load', function () {
        $('#loading').show();
    })
</script>
{% else %}
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"></script>
<script type="text/javascript">
    var socket = io();
    socket.on('connect', function () {
        console.log('connected');
    })
    socket.on('update', function (progress) {
            $('#comp').hide();
            console.log(progress);
            document.getElementById('percent').innerHTML = progress + "%";
            let bar = document.getElementsByClassName('progress-bar')[0];
            bar.style.width = progress + "%";
            bar.setAttribute('aria-valuenow', progress);
    })
        let bar = document.getElementsByClassName('progress-bar')[0];
        bar.style.width = "0%";
        bar.setAttribute('aria-valuenow', 0);
        $('#comp').hide();
        $(".progress").show();
        $("#percent").show();
        document.getElementById('title').innerHTML = "We Are Converting Your Video To Your Selected Format";
    function navigate() {
        window.location.href = 'done';  // redirect when done!
    }
    fetch('converter').then(navigate);
    $(window).on('load', function () {
        $('#loading').show();
    })
</script>
{% endif %}
{% endblock %}